.section--initial-screen
  background-image url(../images/main-img.jpg)
  background-size cover
  background-repeat no-repeat
  background-attachment fixed
  padding-top 250px
  padding-bottom 230px
  text-align center
  h1
    color #ffffff
    font-size 64px
    font-weight 700
  p
    color #ffffff
    font-size 36px
    margin-top 34px
    font-weight 700
  .button
    margin-top 50px
