.section--initial-screen
  padding-top 250px
  padding-bottom 230px
  text-align center
  &:before
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background rgba(0,0,0, .6)
    z-index -1
  video
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    z-index -2
  h1
    color #ffffff
    font-size 64px
    font-weight 700
  p
    color #ffffff
    font-size 36px
    margin-top 34px
    font-weight 700
  .button
    margin-top 50px
