@font-face
    font-family 'Alegreya Sans SC'
    src url('AlegreyaSansSC/AlegreyaSansSC-ExtraBold.eot')
    src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'),
        url('AlegreyaSansSC/AlegreyaSansSC-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-ExtraBold.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;


@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-Light.eot');
    src: local('Alegreya Sans SC Light'), local('AlegreyaSansSC-Light'),
        url('AlegreyaSansSC/AlegreyaSansSC-Light.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-Light.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-Italic.eot');
    src: local('Alegreya Sans SC Italic'), local('AlegreyaSansSC-Italic'),
        url('AlegreyaSansSC/AlegreyaSansSC-Italic.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-Italic.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-MediumItalic.eot');
    src: local('Alegreya Sans SC Medium Italic'), local('AlegreyaSansSC-MediumItalic'),
        url('AlegreyaSansSC/AlegreyaSansSC-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-MediumItalic.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-ThinItalic.eot');
    src: local('Alegreya Sans SC Thin Italic'), local('AlegreyaSansSC-ThinItalic'),
        url('AlegreyaSansSC/AlegreyaSansSC-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-ThinItalic.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-Bold.eot');
    src: local('Alegreya Sans SC Bold'), local('AlegreyaSansSC-Bold'),
        url('AlegreyaSansSC/AlegreyaSansSC-Bold.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-Bold.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-Black.eot');
    src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'),
        url('AlegreyaSansSC/AlegreyaSansSC-Black.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-Black.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-BoldItalic.eot');
    src: local('Alegreya Sans SC Bold Italic'), local('AlegreyaSansSC-BoldItalic'),
        url('AlegreyaSansSC/AlegreyaSansSC-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-BoldItalic.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-Thin.eot');
    src: local('Alegreya Sans SC Thin'), local('AlegreyaSansSC-Thin'),
        url('AlegreyaSansSC/AlegreyaSansSC-Thin.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-Thin.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-Regular.eot');
    src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'),
        url('AlegreyaSansSC/AlegreyaSansSC-Regular.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-Regular.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-ExtraBoldItalic.eot');
    src: local('Alegreya Sans SC ExtraBold Italic'), local('AlegreyaSansSC-ExtraBoldItalic'),
        url('AlegreyaSansSC/AlegreyaSansSC-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-ExtraBoldItalic.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-Medium.eot');
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'),
        url('AlegreyaSansSC/AlegreyaSansSC-Medium.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-Medium.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-BlackItalic.eot');
    src: local('AlegreyaSansSC/Alegreya Sans SC Black Italic'), local('AlegreyaSansSC-BlackItalic'),
        url('AlegreyaSansSC/AlegreyaSansSC-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-BlackItalic.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC/AlegreyaSansSC-LightItalic.eot');
    src: local('Alegreya Sans SC Light Italic'), local('AlegreyaSansSC-LightItalic'),
        url('AlegreyaSansSC/AlegreyaSansSC-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AlegreyaSansSC/AlegreyaSansSC-LightItalic.woff') format('woff'),
        url('AlegreyaSansSC/AlegreyaSansSC-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
