.footer
  background-color #333333
  padding-top 30px
  padding-bottom 30px
  &__right
    p
      margin-right 10px
      padding-right 10px
      border-right 1px solid #fff
    p,a
      color #ffffff
      font-size 17px
      font-weight 300
  .container
    &:last-child
      margin-top 30px
.footer-bottom__left
  a,p
    color #787878
    font-size 13px
    font-weight 400
    padding-right 10px
    margin-right 10px
    border-right 1px solid
    &:last-child
      border-right 0

.footer-bottom__right
  a
    color #787878
    font-size 16px
    font-weight 400
    span
      color #81a90c
      font-weight 700
