.header
  position absolute
  top 0
  padding-top 35px
  &__logotype
    img
      width 38px
      height 38px
      border 2px solid #ffffff
      border-radius 50%
      margin-right 15px
    h6
      color #ffffff
      font-size 18px
      font-weight 700
      margin-right 37px
  &__right
    p
      color #ffffff
      font-size 18px
      font-weight 400
      margin-right 15px
    a
      color #ffffff
      font-size 18px
      font-weight 400
      span
        color var(--green)
.list__item
  margin-right 19px
  a
    color #ffffff
    font-size 18px
    font-weight 400
