footer.footer
  .container.flex.j-c__s-b.a-i__c.pd-80
    .footer__left.flex.a-i__c
      .logotype.flex.a-i__c
        img(src='' alt='')
        h6 Вязанка дров
      nav.footer__navigation 
        ul.nav__list.flex
          li.list__item 
            a(href="#").h_b-l Сделать заказ
          li.list__item 
            a(href="#").h_b-l Дрова
          li.list__item 
            a(href="#").h_b-l О нас
          li.list__item 
            a(href="#").h_b-l Доставка
    .footer__right.flex
      p Кировск, ул. Дубровская д. 6, 
        span с 9-00 по 21-00
      a(href='tel:89219231404') 
        span 8 (921) 
        |923-14-04
  .container.flex.j-c__s-b.a-i__c.pd-80 
    .footer-bottom__left.flex
      a(href='#') Политика конфиденциальности 
      a(href='#') Пользовательское соглашение
      p 2018 год
    .footer-bottom__right
      a(href='#' target='_blank') Разработано в 
        span Pixelaria

script(src='js/lib.min.js')
