header.header.container.pd-80.flex.j-c__s-b.a-i__c
  .header__left.flex.a-i__c
    .logotype.flex.a-i__c
      img(src='' alt='')
      h6 Вязанка дров
    nav.header__navigation 
      ul.nav__list.flex
        li.list__item 
          a(href="#").h_b-l Сделать заказ
        li.list__item 
          a(href="#").h_b-l Сорта древесины
        li.list__item 
          a(href="#").h_b-l О нас
        li.list__item 
          a(href="#").h_b-l Доставка
  .header__right.flex
    p пн.-вс. 9:00-21:00
    a(href='tel:89219231404') 
      span 8 (921) 
      |923-14-04
