doctype html
html(lang='ru')
  head
    include inc/head.pug
    title ПроДрова
  body 
    include inc/header.pug
    main.main 
      // Первый экран 
      section.section.section--initial-screen.p__r
        video(src='images/wallpaper-video.mp4' autoplay loop muted)
        .container.p__r 
          h1 КОЛОТЫЕ ДРОВА 
            span И ПОЛЕНЬЯ
          p С доставкой по Северо-Западному региону 
            span и Санкт-Петербургу 
          a(href='#form-order').button.button--green Заказать дрова сейчас
      // Зеленая секция 
      section.section.section--green-info.p__r
        ul.green-info__list.container.flex.j-c__c
          li.green-info__item.flex.a-i__c
            +icon('fire')
            p Преимиум качество
          li.green-info__item.flex.a-i__c
            +icon('delivery-truck')
            p Доставка во все районы - от 700 ₽
          li.green-info__item.flex.a-i__c
            +icon('tag')
            p Всегда низкие цены
      // Форма заказа 
      section.section--order.container.pd-80.flex.j-c__s-b#form-order
        
        .order__left-side
          form.form__order(method='post')
            h2 Оформление заказа
            .input-contacts
              input(type='text' name='name' placeholder='Имя')
              input(type='text' name='tel' placeholder='Телефон')
              input(type='text' name='email' placeholder='емайл ')
            .flex.a-i__c
              label.label__selected
                select(name='select')
                  option(value='Березовые дрова' data-price='1500') Березовые дрова
                  option(value='Осиновые дрова' data-price='1350') Осиновые дрова
                  option(value='Дрова из ольхи' data-price='1350') Дрова из ольхи
                  option(value='Смесь' data-price='0') Смесь
                +icon('down-arrow')
              label.label__num
                input(type='number' min='1' value='1' name='num')
                span.plus
                span.minus
                span.metrcube м
                  sup 3 
              
              p 
                span 1500  
                span  ₽
              button.button.button--green Заказать
          .flex
            p.footnote.flex.a-i__c 
              +icon('gift')
              span При желании в заказе от 3 м3 щепа и опилки в подарок!
            p.footnote.flex.a-i__c 
              +icon('credit-card')
              span Оплата наличными, по карте
        img(src='images/drova-1.jpg' alt='')
      // Секция Лучшие сорта 
      section.section.section--best.container.pd-80#s-2
        h2 Лучшие сорта древесины 
          span для дома, дачи и бани
        article.fire-wood
          .flex.f-w__w.a-i__c
            img(src='images/drova-1.jpg' alt='').fire-wood__img
            .fire-wood__info
              span.sale-block Акция!
              h3 Березовые дрова
                span.sale 
                  s от 1800 ₽/м
                    sup 3 
                span от 1500 ₽/м
                  sup 3 
              p Дрова из березы идеально подходят для обогрева дома, дачи, растопке камина или бани. Полученное тепло сберегается в течение длительного времени. Береза принесет в дом уют, создаст приятную атмосфер. Закажите качественные дрова с высокой теплотворной способностью. При необходимости, мы нарежем дрова по длине, подходящей именно вашей печи.
            .fire-wood__order.flex.j-c__s-b.a-i__c
              ul.fire-wood__list.flex
                li.fire-wood__item.flex
                  +icon('match-on-fire')
                  p Просто разжигаются
                li.fire-wood__item.flex
                  +icon('clock')
                  p Долго горят
                li.fire-wood__item.flex
                  +icon('fire-2')
                  p Быстро разгораются
                li.fire-wood__item.flex
                  +icon('magic')
                  p Не стреляют
              a(href="#form-order").button.button--green-empty Заказать 
                span березовые дрова
        article.fire-wood.fire-wood--right
          .flex.f-w__w.a-i__c
            img(src='images/drova-2.jpg' alt='').fire-wood__img
            .fire-wood__info
              h3 Осиновые дрова    
                span от 1350 ₽/м
                  sup 3 
              p Осина — один из наиболее распространенных видов деревьев в нашей области. Самым ценным свойством дров из осины является их способность очищать дымоход от отложений сажи. Осиновый жар разрыхляет остатки копоти на стенках, заставляя её осыпаться в зольный отсек. Жар таких дров обладает полезными свойствами, способствует профилактике вирусных заболеваний, стимулируя иммунную систему человека. Дрова из осины можно хранить до трёх лет без потери полезных и ароматических свойств. Большинство пород древесины хранится лишь два года. 
            .fire-wood__order.flex.j-c__s-b.a-i__c
              ul.fire-wood__list.flex
                li.fire-wood__item.flex
                  +icon('match-on-fire')
                  p Просто разжигаются
                li.fire-wood__item.flex
                  +icon('fire-2')
                  p Быстро разгораются
                li.fire-wood__item.flex
                  +icon('fireplace')
                  p Прочищают дымоход
                li.fire-wood__item.flex
                  +icon('magic')
                  p Не стреляют
              a(href="#form-order").button.button--green-empty Заказать 
                span осиновые  дрова
        article.fire-wood
          .flex.f-w__w.a-i__c
            img(src='images/drova-3.jpg' alt='').fire-wood__img
            .fire-wood__info
              h3 Дрова из ольхи    
                span от 1350 ₽/м
                  sup 3 
              p Дрова из ольхи не зря называют царскими дровами. При горении эта древесина выделяет полезные для организма человека эфирные масла, поэтому они так приятно пахнут. Ольховые дрова воспламеняются и горят дольше других видов, это самые жаркие поленья. От ольхи не бывает едкого дыма и копоти, дрова не трещат, быстро разгораются, горят с зеленоватым оттенком пламени.
            .fire-wood__order.flex.j-c__s-b.a-i__c
              ul.fire-wood__list.flex
                li.fire-wood__item.flex
                  +icon('mobileme-logo-of-black-cloud')
                  p Почти не коптят
                li.fire-wood__item.flex
                  +icon('wind')
                  p Приятный аромат
                li.fire-wood__item.flex
                  +icon('hourglass')
                  p Долго хранятся
              a(href="#form-order").button.button--green-empty Заказать 
                span дрова из ольхи
      // Секция Работаем для вас 
      section.section.section--working.p__r
        .container 
          h2 Работаем для вас с 2012 года
          ul.working__list.flex.f-w__w.j-c__c
            li.working__item.flex.a-i__c
              img(src='images/Group 27.png' alt='')
              p Обогрели более 
                span 7500
                |домов
            li.working__item.flex.a-i__c
              img(src='images/Group 26.png' alt='')
              p Доставили 
                span 12000 м  
                |дров
            li.working__item.flex.a-i__c
              img(src='images/Group 7.png' alt='')
              p Заботимся об 
                span экологии и лесах
            li.working__item.flex.a-i__c
              img(src='images/Group 28.png' alt='')
              p Всегда держим 
                span низкие цены 
            li.working__item.flex.a-i__c
              img(src='images/Group 25.png' alt='')
              p Быстрая доставка в течение 
                span 1-2 дней 
            li.working__item.flex.a-i__c
              img(src='images/Group 24.png' alt='')
              p Только высокое 
                span качество 
                |дров
      // Доставка 
      section.section.section--delivery.pd-80.container#s-3
        h2 Доставка в течение 1-2 дней 
          span по всей Ленинградской области
        .flex.j-c__s-b
          ul.delivery__list
            li.delivery__item.flex
              p Район / Город
              p Стоимость 
            li.delivery__item.flex
              p Волховский район 
              p от 700 ₽ 
            li.delivery__item.flex
              p Всеволожский район 
              p от 700 ₽ 
            li.delivery__item.flex
              p Киришский район
              p от 700 ₽ 
            li.delivery__item.flex
              p Кировский район
              p от 700 ₽ 
            li.delivery__item.flex
              p Тосненский район
              p от 700 ₽ 
            li.delivery__item.flex
              p Санкт-Петербург
              p от 700 ₽ 
          img(src="images/map.png" alt='')
        p.footnote.flex.a-i__c 
          span Стоимость доставки, в т.ч. в другие районы, рассчитывается индивидуально, зависит от объема заказа и местоположения объекта

      // SEO текст 
      .section--seo.container.flex.a-i__c#s-4
        img(src='images/seo-img.png' alt='картинка для seo')
        .seo-text
          p ПроДрова — это семейный бизнес, основаный в 2012 году. Мы специализируется на производстве и доставке высококачественных дров из разных сортов древесины. Для нас важно предложить нашим клиентам самые высококачественные продукты, быстрое  и дружелюбное обслуживание. Стремление к качеству, надежность и отвественность на всех этапах работы сделали нас одним из ведущих поставщиком дров в Северо-Западном регионе и Петербурге.
          p Мы имеем собственный транспортный парк и готовы быстро доставить заказ в любой уголок Ленинградской области. 
      
        
        
    include inc/footer.pug
            
